/*{
#F76626
#3E3531 
#F3F7F9 
#FDFDFD
}*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F3F7F9;
    animation: smoothScroll 0.5s ease-in-out;
}

@keyframes smoothScroll {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

.logo {
    height: 30px;
}

.navBackgroundImg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    object-position: 0% 40%;
    filter: brightness(90%);
    border-radius: 0% 0% 20% 20%;
}

.navCont {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    height: fit-content;
}

.navText {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navText p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -1px;
    padding: 12px;
}

.navText a {
    text-decoration: none;
    color: #F3F7F9;
}

.navText a:hover {
    color: #F76626;
}

.about {
    margin-top: 30vh;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30vh;
}

.aboutTextH1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -1px;
    color: #3E3531;
    margin-left: -100px;
    width: 30vw;
    line-height: 1.1;
}

.aboutTextH2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #3E3531;
    margin-left: -100px;
    width: 40vw;
    line-height: 1.1;
}

.aboutTextCont {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contHeroText {
    margin-top: 20vh
}

.heroText {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 6rem;
    letter-spacing: -1px;
    color: #FDFDFD;
    width: 70vw;
    -webkit-user-select: none;
    user-select: none;
}

.heroSpan {
    color: #F76626;
}

.mockupCalidus {
    height: 120%;
}

.waarom{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.waaromCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20vh;
}

.waaromTextH1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: -1px;
    color: #3E3531;
    width: 30vw;
    line-height: 1.1;
    padding-bottom: 20px;
}

.waarom p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #3E3531;
    line-height: 1.1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.listItem{
    display: flex;
    gap: 5px;
}

.imgWaarom{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
}

.waaromButton{
    margin-top: 40px;
    width: 160px;
    background-color:#F76626;
    border: none;
    border-radius: 100px;
    padding: 5px;
}

.waaromButton:hover{
    opacity: 80%;
    cursor:pointer;
}

.waaromButton p{
    color: #FDFDFD;
    font-size: 1rem;
}

@media only screen and (min-width: 1580px) {
    .heroText {
        width: 65vw;
    }
}

@media only screen and (min-width: 1780px) {
    .heroText {
        width: 55vw;
    }
}